<!DOCTYPE html>

{% extends 'homepage/nav.html'%}



{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<!--    <div>-->
<!--        <div align="center">-->
<!--            <h1>Login</h1>-->
<!--            <form method="post">-->
<!--              {{form.as_p}}-->
<!--              {%csrf_token%}-->
<!--                <button type="submit">Login</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
{% block nav %}

<style>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
</style>


<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6">
This Login Is Only For Faculty To Make Changes In Web Application. The Credential Are Already Shared With Related Authority.
          Please Authenticate Yourself
      </p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <form class="card-body" method="post">
        <div class="form-control">
          <label class="label">
            <span class="label-text">UserName</span>
          </label>
          <input type="Text" placeholder="Username" class="input input-bordered" name="username" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input type="password" placeholder="password" class="input input-bordered" name="password" required />
          <label class="label">
            <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
          </label>
            {% csrf_token %}
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

</body>
</html>

