{% extends 'homepage/nav.html' %}

{% block nav %}
<button class="btn btn-outline"><a href="/collectionApp/faculty/faculty_filter/" >Show Faculty</a></button>
<button class="btn btn-outline"><a href="/collectionApp/faculty/addResult/" >Add Result</a></button>
<button class="btn btn-outline"><a href="/collectionApp/#/" >Add Student</a></button>
<button class="btn btn-outline"><a href="/collectionApp/#/" >Add TimeTable</a></button>
{% block faculty %}
{% endblock %}
{% endblock %}

</body>
</html>